body{background-color: rgb(102, 135, 129);}
.hide{
    display: none;
}

.container {
    display: block;
    margin: 80px auto;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
    transition: 0.3s;
    width: 60vw;
    background-color: #ae827b;
    padding-top: 20px;
    padding-bottom: 20px;
}

body {
    text-align: center;
    font-size: 34px;
    font-weight: 700;
}

h1 {text-align: center;
    font-size: 60px;
    font-weight: bold;
}
